@use "utils/a11y";
@use "vendor/reset";

:root {
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgb(255 255 255 / 87%);
  background-color: rgb(0 77 82);
}

html {
  scroll-behavior: smooth;
}

.bg-block {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0 0 0);
  opacity: 0.8;
  z-index: 5;
}

.player1-guess {
  position: absolute;
  height: 8%;
  max-width: 19%;
  bottom: 27%;
  margin: 10px;
  padding: 10px;
  z-index: 20;
}

.player2-guess {
  position: absolute;
  height: 8%;
  max-width: 19%;
  bottom: 27%;
  right: 0;
  margin: 10px;
  padding: 10px;
  z-index: 20;
}

h1 {
  text-align: center;
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
}

.intro-text {
  background-color: rgb(30 30 30);
  position: absolute;
  padding: 20px;
  top: 15%;
  left: 15%;
  width: 70%;
  z-index: 10;
  border: 3px solid black;
  border-radius: 15px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 1.2rem;

  .disclaimer-text {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    font-family: 'Playfair Display', serif;
  }

  p {
    margin: 15px;
  }

  .input-field {
    display: block;
    text-align: center;
    font-size: 1.4rem;
  }

  .start-btn {
    position: relative;
    left: 42%;
    height: 50px;
    width: 120px;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 0 2px 10px 2px rgba(0 0 0/50%);
  }
}

//guess box
.guess-box,
.accuse-box {
  height: auto;
  width: 75%;
  padding-bottom: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 20;
  border-radius: 15px;

  .guess-title,
  .accuse-title {
    margin: 15px;
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
  }

  &.guess-box {
    background-color: rgb(0 77 82);
  }

  &.accuse-box {
    background-color: rgb(0 77 82);
  }

  .guess-wrapper,
  .accuse-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;

    .guess-characters,
    .guess-weapons,
    .guess-rooms,
    .accuse-characters,
    .accuse-weapons,
    .accuse-rooms {
      display: flex;
      flex-direction: column;
      width: 32%;
      z-index: 10;
      font-family: 'Playfair Display', serif;
      font-size: 1rem;

      >button {
        margin: 1px;
        background-color: rgb(62 62 62);
        border-radius: 10px;
        font-family: 'Playfair Display', serif;
        font-size: 1rem;
      }

      .marked-option {
        background-color: rgb(110 68 235);
        font-weight: 900;
      }
    }
  }
}

.submit-guess-btn,
.submit-accuse-btn {
  background-color: rgb(110 68 235);
  height: 50px;
  width: 200px;
  border-radius: 15px;
  font-family: 'Playfair Display', serif;

  &.submit-guess-btn {
    font-size: 1.4rem;
  }

  &.submit-accuse-btn {
    font-size: 1rem;
    font-weight: 900;
  }
}

.hidden {
  display: none;
}

h2 {
  text-align: center;
}

.board {
  background-color: rgb(69 67 67);
  height: 100%;
  width: 80%;
  z-index: 0;
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem;
  border: 2px solid black;

  .board-first-row {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }

  .board-middle-row {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;

    .dining-room {
      min-height: 284px;
      min-width: 250px;
      cursor: pointer;
      border: 1px solid black;
      border-radius: 20px;
      box-shadow: 10px 10px 40px 20px rgba(0 0 0 /30%);
      padding: 10px;
      background-color: rgba(208 180 159/80%);
      font-size: 1.5rem;
    }

    .board-envelope {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .accuse-btn,
      .guess-btn {
        min-height: 100px;
        min-width: 250px;
        border-radius: 25px;
        cursor: pointer;
      }

      .accuse-btn {
        background: rgb(190 0 0);
        box-shadow: 0 10px 10px rgba(0 0 0), 0 6px 6px rgba(0 0 0/30%);
        font-size: 1.5rem;
      }

      .guess-btn {
        background: rgb(190 0 0);
        box-shadow: 0 10px 10px rgba(0 0 0), 0 6px 6px rgba(0 0 0);
        font-size: 1.5rem;
      }
    }

    .board-small-room {
      display: flex;
      flex-direction: column;

      .room-small {
        width: 250px;
        height: 130px;
        cursor: pointer;
        border: 1px solid black;
        border-radius: 20px;
        box-shadow: 10px 10px 40px 20px rgba(0 0 0 /30%);
        padding: 10px;
        background-color: rgba(208 180 159/80%);
        font-size: 1.5rem;
      }
    }
  }

  .board-last-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }

  .room {
    min-height: 250px;
    min-width: 250px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 40px 20px rgba(0 0 0 /30%);
    padding: 10px;
    background-color: rgba(208 180 159/80%);
    font-size: 1.5rem;
  }

  .room-btn {
    position: relative;

    .player-piece {
      position: absolute;
      top: 75%;
      left: 70%;
      width: 5rem;
      transform: translate(-50%, -50%);
    }

    .player1-piece {
      position: absolute;
      top: 30%;
      left: 50%;
      width: 4rem;
      transform: translate(-50%, -50%);
    }

    .player2-piece {
      font-size: 1rem;
      position: absolute;
      top: 75%;
      left: 20%;
      width: 5rem;
      transform: translate(-50%, -50%);
    }
  }
}

.player-you {
  width: 100%;
  margin: 10px;
  font-family: 'Playfair Display', serif;

  .your-hand {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .your-card {
    border: 2px solid orange;
    background-color: #2b2a2a;
    width: 7rem;
    height: 10rem;
    margin: 5px;
    text-align: center;
    padding-top: 3%;
    font-family: 'Playfair Display', serif;
    font-size: 1.1rem;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0 0 0), 0 6px 6px rgba(0 0 0);
  }

  .player1-match {
    border: 2px solid blue;
  }

  .player2-match {
    border: 2px solid green;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 20px;

  .player1,
  .player2 {
    height: 50%;
    width: 30rem;
    font-family: 'Playfair Display', serif;

    .player1-hand,
    .player2-hand,
    .your-hand {
      display: flex;
      margin: 10px;
      gap: 10px;

      .guess-match {
        border: 2px solid orange;
      }

      .player1-match {
        border: 2px solid blue;
      }

      .player2-match {
        border: 2px solid green;
      }
    }

    .player-card {
      background-color: #2b2a2a;
      border: 1px solid black;
      width: 100px;
      height: 150px;
      padding-top: 15%;
      text-align: center;
      font-family: 'Playfair Display', serif;
      font-size: 1rem;
      box-shadow: 0 10px 20px rgba(0 0 0), 0 6px 6px rgba(0 0 0);
      border-radius: 5px;
    }
  }
}

.dice-container {
  position: absolute;
  left: 10%;

  .dice {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(244 244 244);
    border: 1px solid black;
    font-family: 'Playfair Display', serif;
    font-size: 1.7rem;
    font-weight: 900;
    color: black;
    box-shadow: 0 10px 20px rgba(0 0 0), 0 6px 6px rgba(0 0 0);
  }
}

.dice-rolling {
  animation: dice-roll 0.5s linear;
}

@keyframes dice-roll {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

// Apply to the dice when it is clicked 
.dice:active {
  animation: dice-roll 0.5s linear;
}

.player-pic {
  display: inline-block;
  width: 10%;
}

.your-pic {
  display: inline-block;
  width: 3%;
}

.timer {
  position: fixed;
  top: 0;
  right: 0;
  padding: 30px;
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
}

.game-over-win,
.game-over-lose {
  height: 400px;
  width: 750px;
  position: absolute;
  top: 30%;
  left: 28%;
  padding: 10px;
  text-align: center;
  z-index: 20;
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  border-radius: 15px;
  border: 3px solid black;

  &.game-over-win {
    background-color: rgb(52 0 124);
  }

  &.game-over-lose {
    background-color: rgb(52 0 124);
  }

  >h2 {
    font-size: 3rem;
    margin-top: 20px;
  }

  >p {
    font-size: 1.2rem;
    padding: 20px;
  }
}

.highscore {
  background-color: rgb(68 60 91);
  min-height: 400px;
  width: 700px;
  position: absolute;
  top: 40%;
  left: 30%;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  border: 1px solid black;
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem;
  z-index: 20;

  .highscore-table {
    display: inline-block;
    margin: 20px;
  }

  >p {
    text-align: end;
  }

  .disclaimer-highscore {
    margin: 20px;
  }
}

.highscore-btn,
.restart-game-btn {
  position: absolute;
  bottom: 0;
  left: 30%;
  width: 30%;
  height: 15%;
  margin: 30px;
  border-radius: 10px;
  background-color: rgb(50 48 49);
  box-shadow: 0 2px 2px rgba(0 0 0);
  font-size: 1.5rem;
  font-family: 'Playfair Display', serif;
}

.commentator-box {
  position: absolute;
  bottom: -10%;
  right: 2%;
  height: 100px;
  width: 300px;
  text-align: center;
  border: 4px solid rgb(24 24 24);
  background-color: rgb(52 52 52);
  box-shadow: 0 10px 20px rgba(0 0 0), 0 6px 6px rgba(0 0 0);
  border-radius: 10px;
  padding: 5px;
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem;
}